! X colors.
*foreground:        #c0caf5
*background:        #15151e
*.foreground:       #c0caf5
*.background:       #15151e

! Colors 0-15.
*color0: #15151e
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6

*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5

! dwm colors
dwm.normbgcolor: #000000
dwm.normbordercolor: #ff0000
dwm.normfgcolor: #9fe044
dwm.normfloatcolor: #ff0000
dwm.selbgcolor: #ba8baf
dwm.selbordercolor: #00ff00
dwm.selfgcolor: #ab4642
dwm.selfloatcolor: #00ff00
dwm.tagsnormbgcolor: #000000
dwm.tagsnormbordercolor: #f7ca88
dwm.tagsnormfgcolor: #9fe044
dwm.tagsselbgcolor: #9fe044
dwm.tagsselfgcolor: #000000
dwm.titleselbgcolor: #000000
dwm.titleselfgcolor: #9fe044
dwm.titlenormbgcolor: #000000
dwm.urgfgcolor: #15151e
dwm.urgbgcolor: #f7768e

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: none
