//@theme "/home/mmd/.config/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/home/mmd/.config/rofi/themes/onedark.rasi"
//@theme "/home/mmd/.config/rofi/themes/minimal.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
@theme "/home/mmd/.config/rofi/themes/minimal.rasi"
